<!-- views 计数统计 -->
<!-- <% if (theme.comment.valine.visitor) { %>
   <span id="<%- url_for(page.path) %>" class="leancloud-visitors" data-flag-title="<%= page.title %>">
    <i class="fa fa-eye"></i> 
   <span class="post-meta-item-text"><%= __('counter.views') + (':')%> </span>
   <i class="leancloud-visitors-count">1000000</i> 
   </span>
<% } %> -->

<% if (theme.comment.valine.visitor) { %>
    <i class="fa fa-eye"></i> 
   <span class="post-meta-item-text"><%= __('counter.views') + (':')%> </span>
   <span id="<%= url_for(post.path) %>" class="leancloud_visitors" data-flag-title="<%- post.title %>"></span>
<% } %>


